<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Page</title>
</head>
<body>
<h3>Student Confirmation Page</h3>
<br><br>
Student: <span th:text="${student.firstName} +' '+ ${student.lastName}"/>
<br>
From: <span th:text="${student.country}"/>
<br>
Favourite language: <span th:text="${student.favouriteLanguage}"/>
<br>
Favourite Operating System:
<ul>
    <li th:each="tempSystem : ${student.favouriteSystem}" th:text="${tempSystem}"/>
</ul>
</body>
</html>