<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation Page</title>
</head>
<body>
    Customer confirmed: <span th:text="${customer.firstName +' '+customer.lastName}" ></span>
    <br>
    Free passes: <span th:text="${customer.freePasses}"></span>
    <br>
    Postal code: <span th:text="${customer.postalCode.substring(0,2)} +'-'+${customer.postalCode.substring(2,5)}"></span>
    <br>
    Course code: <span th:text="${customer.courseCode}"></span>
</body>
</html>